:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', serif;
    background-color: #fafafa;
    color: #1f1f1f;
    font-size: 20px;
}

a {
    color: #1f1f1f;
    text-decoration: none;
}

h1 {
    font-size: 36px;
}

.container {
    margin: auto;
    width: 80%;
    max-width: 1100px;
}

ul {
    list-style: none;
}

/* Nav */

nav {
    position: fixed;
    top: 0;
    
    padding: 15px;
    width: 100%;
    background-color: #fafafa;

    transition: 0.2s;
    z-index: 2;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
}

nav li {
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: lowercase;

    padding: 10px;
}

nav a {
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;

}

nav a:hover {
    border-bottom: 2px solid #1f1f1f;
}

/* Showcase */

.showcase {
    margin: 250px 0 150px 0;

    display: flex;
    justify-content: space-between;
}

.showcase .text {
    margin-right: 50px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.showcase h1 {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 60px;
}

.showcase h2 {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 48px;
    margin: 20px 0;
}

.showcase a .btn {
    color: #fff;
}

.showcase a .btn:hover  {
    color: #1f1f1f;
}

.showcase .btn {
    font-size: 18px;

    background-color: #1f1f1f;

    margin-top: 30px;
    margin-right: 30px;

    padding: 13px 26px 15px 26px;

    border: 2px solid #1f1f1f;
    border-radius: 2px;

    cursor: pointer;
    outline: none;
    
    transition: 0.2s;
}

.showcase .btn:hover {
    background-color: #fff;
}

.showcase img {
    width: 30%;

    transition: 0.4s;
}

.showcase img:hover {
    transform: scale(1.2);
}


/* Skills */

.skills {
    margin: 200px 0;
    padding-top: 150px;
}

.skills h1 {
    margin-bottom: 20px;
}

.skills p span {
    font-weight: bold;
}

.skills .row {
    display: flex;
    justify-content: space-between;
}

.skills div {
    margin-top: 30px;
}

.skills ul {
    padding-top: 10px;
}

.skills li {
    margin: 10px 0;
    font-family: monospace;
    font-size: 16px;
    color: gray;
}

/* Projects */

.projects {
    margin: 200px 0;
    padding-top: 150px;
}

/* Connect */

.connect {
    margin-bottom: 200px;
    padding-top: 150px;
}

.connect h1 {
    margin-bottom: 20px;
}

.connect-inner {
    display: flex;
}

.connect form {
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 150px;
    margin-right: 50px;

}

.connect input, .connect textarea {
    width: 300px;
    padding: 10px 20px;
    margin: 10px 0 15px 0;

    box-shadow: var(--box-shadow);
    background-color: white;
    
    border: 1px solid #1f1f1f;
    border-radius: 3px;
}

.connect button {
    font-size: 16px;

    background-color: #1f1f1f;
    color: #fff;

    margin: 20px 0;

    padding: 10px 26px 11px 26px;

    border: 2px solid #1f1f1f;
    border-radius: 3px;

    cursor: pointer;
    outline: none;
    
    transition: 0.2s;

}

.connect button:hover {
    background-color: #fff;
    color: #1f1f1f;
}

/* Footer */

.footer {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 50px 0;
}