body {
    width: 80%;
    margin: 2em 2em 30em 2em;
    max-width: 500px;
    /* background-color: #111111; */
    background-image: linear-gradient(to bottom right, #111111, 70%, #333333);
    font-family: 'Open Sans', sans-serif;
    color: #dddddd;
}

h1, h2, h3, h4 {
    font-family: monospace;
}

li {
    margin: 15px 0;
}

p, li {
    font-size: 14px;
}

.link {
    padding: 1px 5px 3px;
    border: 1px solid #aaaaaa;
    border-radius: 2px;
    color: #dddddd;
    text-decoration: none;
}

.link:hover {
    background-color: #bbbbbb;
    color: #111111;
}

.code {
    font-family: monospace;
}

hr {
    margin: 2em 0;
}

a {
    color: #bbbbbb;
}

ul.no-line-height li {
	margin: 5px 0;
}
