@font-face {
	font-family: "source-serif-pro";
	src: url("./SourceSerifPro-Light.ttf");
}

body {
    width: 80%;
    margin: 2em 2em 30em 2em;
    max-width: 550px;
    background-color: #000;
    /* background-image: linear-gradient(to bottom right, #000, 70%, #333333); */
    font-family: 'source-serif-pro', 'Open Sans', sans-serif;
    color: #fff;
}

h1, h2, h3, h4 {
    font-family: monospace;
}

li {
    margin: 15px 0;
}

p, li {
    font-size: 15px;
}

.link {
    padding: 1px 5px 3px;
    border: 1px solid #aaaaaa;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
}

.link:hover {
    background-color: #fff;
    color: #000;
}

.code {
    font-family: monospace;
}

hr {
    margin: 2em 0;
}

a {
    color: #bbbbbb;
}

.no-line-height li {
	margin: 5px 0;
}
