:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', serif;
    background-color: #fafafa;
    color: #2b2b2b;
}

h1, h2 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #2b2b2b;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.btn {
    font-size: 18px;
    background-color: #2b2b2b;
    color: #fff;
    padding: 13px 22px 15px 26px;
    border: 2px solid #2b2b2b;
    border-radius: 2px;
    outline: none;
    transition: 0.2s;
}

.btn:hover {
    background-color: #fff;
    color: #2b2b2b;
}

/* Nav */

nav {
    position: fixed;
    top: 0;

    padding: 8px;
    width: 100%;
    background-color: #fafafa;

    transition: 0.2s;
    z-index: 2;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    width: 85%;
}

nav li {
    padding: 10px 0;
    margin: 0 40px;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: lowercase;
}

nav a {
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;

    transition: 0.2s;

}

nav a:hover {
    border-bottom: 2px solid #2b2b2b;
}

/* Header */

.header {
    height: 100vh;
    margin: 20px auto;

    width: 80%;
    max-width: 1100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}
.header img {
    width: 30%;
    transition: 0.4s;
}

.header img:hover {
    transform: scale(1.1);
}

.header-inner {
    margin-bottom: 15%;
}

.header h1 {
    font-family: 'Merriweather', serif;
    font-size: 60px;
}

.header h2 {
    font-family: 'Merriweather', serif;
    font-size: 48px;
    margin-bottom: 60px;
}

.header .btn span {
    margin-left: 5px;
}

/* Container */

.container {
    width: 80%;
    min-width: 900px;
    max-width: 1100px;
    margin: auto;
}

.container .row {
    width: 80%;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 4fr;
}

.container h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
}

.container p {
    line-height: 24px;
    text-align: justify;
}

.container span {
    font-weight: bold;
}

/* About */

.about {
    margin: 300px 0 50px 0;
    padding-top: 150px;
}

.about p, .about a {
    color: #737373;
}

.about a:hover {
    text-decoration: underline;
}

.about .email {
    margin-left: 10px;
    color: #3b3b3b;
    font-weight: bold;
}

/* Skills */

.skills {
    margin: 50px auto;
    padding-top: 150px;
}

.skills p {
    text-align: left;
    font-weight: bold;
}

.skills li {
    color: #737373;
    font-family: monospace;
    padding: 5px 0;
}

.skills .skills-row {
    display: flex;
    justify-content: flex-start;
}

.skills .col {
    width: 50%;
}

/* Projects */

.projects {
    margin: 50px auto;
    padding: 150px 0 250px 0;
}

.project {
    margin-bottom: 100px;
}

.project a {
    margin-right: 5px;
    font-weight: bold;
    transition: 0.1s;
}

.project a:hover {
    margin-right: 15px;
}

.project p {
    margin: 15px 0 20px 0;
    color: #737373;
}

.project span {
    font-size: 14px;
    font-weight: normal;
    border: 1px solid #1f1f1f;
    padding: 1px 6px 2px 6px;
    margin-right: 5px;
    border-radius: 5px;
    color: #000;
}

/* Footer */

.footer {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 20px 0 24px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.footer ul {
    margin: 0;
    padding: 0;

    display: flex;
}

.footer li {
    margin-left: 40px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}